* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	user-select: none;
	list-style: none;
}

@font-face {
	font-family: 'Pokemon';
	src: url('/css/Pokemon-Hollow.ttf')
}

body {
	min-height: 100vh;


	.log-bg {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1000;
		display: none;
		place-items: center;

		.logs {
			padding: 2rem;
			background: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

			hr {
				margin: 1rem 0;
				width: 100%;
			}

			.register, .login {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;
			}
		}
	}

	.playground {
		overflow: hidden;
		position: relative;
		width: 100vw;
		height: 100vh;
		//background-color: greenyellow;
		background-image: url('/assets/bg_all.png');
		background-repeat: no-repeat;
		background-size: cover;

		.btprintrandompokeonwindow{
			background-color: white;
			position: absolute;
			z-index: 10;
			bottom: 0;
			margin-bottom: 50px;
			margin-left: 50%;
			transform: translateX(-50%);
			padding: 10px;
			border-radius: 10px;
			border: none;
		}

		.playground__captured {
			overflow: hidden;
			transition: 0.5s;
			transition-delay: 0;
			position: absolute;
			top: 2rem;
			right: 2rem;
			display: flex;

			.captured__pokemons {
				transition: 0.5s;
				transition-delay: 0;
				padding: 1rem 0rem;
				border-radius: 2rem 0rem 2rem 2rem;
				background: #ffffff;
				width: 0px;
				overflow: hidden;


				h2 {
					height: 2rem;
				}

				.captured__pokemons__ul {
					transition: 0.5s;
					transition-delay: 0;
					height: 0px;
					overflow-y: scroll;
				}
			}

			label {
				height: 64px;
				border-radius: 1rem;
				position: static;
				z-index: 10;

				img {
					pointer-events: none;
					transition: 0.5s;
					background: #ffffff;
					border-radius: 1rem 1rem 1rem 1rem;
				}
			}
		}

		#playground__captured__toggle:checked~.playground__captured {
			transition-delay: 0.25s;

			.captured__pokemons {
				padding: 1rem 2rem;
				width: 800px;
				transition-delay: 0.25s;
				position: relative;
				z-index: 10;

				.captured__pokemons__ul {
					height: 400px;
					transition-delay: 0.25s;
				}
			}

			label {
				&:last-of-type {
					position: absolute;
					top: 0;
					right: 0;
					width: 64px;
					border-radius: 0rem 1rem 1rem 0rem;
				}

				img {
					border-radius: 0rem 1rem 1rem 0rem;
				}
			}
		}

		.playground__shop {
			// overflow: hidden;
			transition: 0.5s;
			transition-delay: 0;
			position: absolute;
			top: 6.5rem;
			right: 2rem;
			display: flex;
			z-index: 10;

			.shop__pokemons {
				transition: 0.5s;
				transition-delay: 0;
				padding: 1rem 0rem;
				border-radius: 2rem 2rem 2rem 2rem;
				background: #ffffff;
				width: 0px;
				overflow: hidden;
        		transform: translateY(-4.5rem);
				position: relative;
				z-index: 10;


				h2 {
					height: 2rem;
				}

				.shop__pokemons__ul {
					transition: 0.5s;
					transition-delay: 0;
					height: 0px;
				}
			}

			label {
				// position: absolute;
				// transform: translateY(4.5rem);
				height: 64px;
				border-radius: 1rem;



				img {
					pointer-events: none;
					transition: 0.5s;
					background: #ffffff;
					border-radius: 1rem 1rem 1rem 1rem;
				}
			}
		}
		#playground__shop__toggle{
			position: relative;
			z-index: 10;
		}

		#playground__shop__toggle:checked~.playground__shop {
			transition-delay: 0.25s;

			.shop__pokemons {
				padding: 1rem 2rem;
				width: 800px;
				transition-delay: 0.25s;

				.shop__pokemons__ul {
					height: 400px;
					transition-delay: 0.25s;
				}
			}

			label {

				&:last-of-type {
					position: absolute;
					top: 0;
					right: 0;
					width: 64px;
					border-radius: 0rem 1rem 1rem 0rem;
				}

				img {
					border-radius: 0rem 1rem 1rem 0rem;
				}
			}
		}

		#pokedexBtn {
			height: 64px;
			width: 64px;
			background: #ffffff;
			position: absolute;
			z-index: 10;
			right: 2rem;
			padding: 0.5rem;
			top: 11rem;
			border-radius: 1rem;
			img {
				object-fit: contain;
				object-position: center;
			}
		}

		.pokedex {
			display: none;
			padding: 2rem;
			background: #ffffff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			h2 {

			}

			.pokdex__pokemons__ul {
				width: 24rem;
			}
		}

		#playground__pokedex__toggle:checked + .pokedex {
			display: grid;
		}

		.pokemon {
			position: absolute;

		}

		.ball {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 96px;
			width: 96px;
			transform-origin: center;
			cursor: pointer;
			z-index: 10;
		}
	}

	.qte {
		position: fixed;
		width: 500px;
		height: 200px;
		background-color: #ffcb05;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px 0 20px;
		outline: none;
		.qte-letter {
			font-size: 50px;
			font-family: 'Pokemon';
		}
	}
}

.lose{
	color: red !important;
	animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.wrong{
	animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}