* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

@font-face {
  font-family: "Pokemon";
  src: url("/css/Pokemon-Hollow.ttf");
}
body {
  min-height: 100vh;
}
body .playground {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: greenyellow;
}
body .playground .playground__captured {
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
}
body .playground .playground__captured .captured__pokemons {
  transition: 0.5s;
  transition-delay: 0;
  padding: 1rem 0rem;
  border-radius: 2rem 0rem 2rem 2rem;
  background: #ffffff;
  width: 0px;
  overflow: hidden;
}
body .playground .playground__captured .captured__pokemons h2 {
  height: 2rem;
}
body .playground .playground__captured .captured__pokemons .captured__pokemons__ul {
  transition: 0.5s;
  transition-delay: 0;
  height: 0px;
}
body .playground .playground__captured label {
  height: 64px;
  border-radius: 1rem;
}
body .playground .playground__captured label img {
  pointer-events: none;
  transition: 0.5s;
  background: #ffffff;
  border-radius: 1rem 1rem 1rem 1rem;
}
body .playground #playground__captured__toggle:checked ~ .playground__captured {
  transition-delay: 0.25s;
}
body .playground #playground__captured__toggle:checked ~ .playground__captured .captured__pokemons {
  padding: 1rem 2rem;
  width: 800px;
  transition-delay: 0.25s;
}
body .playground #playground__captured__toggle:checked ~ .playground__captured .captured__pokemons .captured__pokemons__ul {
  height: 400px;
  transition-delay: 0.25s;
}
body .playground #playground__captured__toggle:checked ~ .playground__captured label:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  border-radius: 0rem 1rem 1rem 0rem;
}
body .playground #playground__captured__toggle:checked ~ .playground__captured label img {
  border-radius: 0rem 1rem 1rem 0rem;
}
body .playground .playground__shop {
  transition: 0.5s;
  transition-delay: 0;
  position: absolute;
  top: 6.5rem;
  right: 2rem;
  display: flex;
}
body .playground .playground__shop .shop__pokemons {
  transition: 0.5s;
  transition-delay: 0;
  padding: 1rem 0rem;
  border-radius: 2rem 0rem 2rem 2rem;
  background: #ffffff;
  width: 0px;
  overflow: hidden;
  transform: translateY(-4.5rem);
}
body .playground .playground__shop .shop__pokemons h2 {
  height: 2rem;
}
body .playground .playground__shop .shop__pokemons .shop__pokemons__ul {
  transition: 0.5s;
  transition-delay: 0;
  height: 0px;
}
body .playground .playground__shop label {
  height: 64px;
  border-radius: 1rem;
}
body .playground .playground__shop label img {
  pointer-events: none;
  transition: 0.5s;
  background: #ffffff;
  border-radius: 1rem 1rem 1rem 1rem;
}
body .playground #playground__shop__toggle:checked ~ .playground__shop {
  transition-delay: 0.25s;
}
body .playground #playground__shop__toggle:checked ~ .playground__shop .shop__pokemons {
  padding: 1rem 2rem;
  width: 800px;
  transition-delay: 0.25s;
}
body .playground #playground__shop__toggle:checked ~ .playground__shop .shop__pokemons .shop__pokemons__ul {
  height: 400px;
  transition-delay: 0.25s;
}
body .playground #playground__shop__toggle:checked ~ .playground__shop label:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  background-color: red;
  border-radius: 0rem 1rem 1rem 0rem;
}
body .playground #playground__shop__toggle:checked ~ .playground__shop label img {
  border-radius: 0rem 1rem 1rem 0rem;
}
body .playground .pokemon {
  position: absolute;
}
body .playground .ball {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 96px;
  width: 96px;
  transform-origin: center;
  cursor: pointer;
}
body .qte {
  position: fixed;
  width: 500px;
  height: 200px;
  background-color: #ffcb05;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
body .qte .qte-letter {
  font-size: 50px;
  font-family: "Pokemon";
}

/*# sourceMappingURL=style.css.map */
